.App {
  text-align: center;
}
.section {
  text-align: left;
  max-width: 750px;
  margin: 2.5rem auto auto;
}
/* input number spin buttons disabled */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#logo {
  width: 10rem;
}
/* TESTS */
.card-header {
  background-color: #647D96 !important;
  color: white;
}
.card-header h6 {
  margin-bottom: 0;
}
#qr-code {
  margin: 1rem 0 1rem 0;
}
.test-field {
  margin-bottom: .5rem;
}
/* SETTINGS */
.setting-section {
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  text-align: left;
  background-color: #F8F9FA !important;
  border-radius: 2rem;
}
.setting-section form {
  margin-bottom: 0;
}
.setting-section form input {
  margin-bottom: 1rem;
}
h2 {
  text-decoration: underline !important;
  margin-bottom: 1rem !important;
}
.btn-container {
  margin-top: 1rem;
  text-align: center;
}
.btn-container button {
  margin-right: 1rem;
}
.form-control:focus {
  border-color: #44C253 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #44C253 !important;
}
.react-datepicker-wrapper,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.react-datepicker-wrapper:focus,
.react-datepicker__input-container input:focus {
  border-color: #44C253;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #44C253;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #44C253;
}
.speedometer {
  height: 175px !important;
}

/* VACCINE */
