.App {
  text-align: center;
}
.section {
  text-align: left;
  max-width: 750px;
  margin: 2.5rem auto auto;
}
/* input number spin buttons disabled */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#logo {
  width: 10rem;
}
/* TESTS */
.card-header {
  background-color: #647D96 !important;
  color: white;
}
.card-header h6 {
  margin-bottom: 0;
}
#qr-code {
  margin: 1rem 0 1rem 0;
}
.test-field {
  margin-bottom: .5rem;
}
/* SETTINGS */
.setting-section {
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  text-align: left;
  background-color: #F8F9FA !important;
  border-radius: 2rem;
}
.setting-section form {
  margin-bottom: 0;
}
.setting-section form input {
  margin-bottom: 1rem;
}
h2 {
  text-decoration: underline !important;
  margin-bottom: 1rem !important;
}
.btn-container {
  margin-top: 1rem;
  text-align: center;
}
.btn-container button {
  margin-right: 1rem;
}